<div ng-controller="nameBotController">
	<h1>I R Bot 4 Namez</h1>
	<form id='wordBagSubmit' action='/nameBot' method='POST'>

		<input type='text' name='word' value="">
		<input type='submit' value='Submit'>
	</form>
</div>
